    @media only screen and (min-width: 769px){
    .p1777mc53afd81444824d8{height: 450px;}
    .xg_tab_t_t,.p1777mc53afd81444824d8{overflow:inherit !important;}
    .xg_tab_t_t>div{overflow: hidden;}
    .xg_tab_tt>div{height: 450px;}
    .p1777mc53afd81444824d8{overflow: hidden;}
    #i30e274ac0140549a .xg_list{
    overflow: auto;
    padding-right: 0px;
    height: 450px;}
}